.navigation a {
	color: #000000;
	text-decoration: none;
}

.navigation a:hover {
	text-decoration: underline;
}

.navigation .selected {
	font-weight: bold;
}

.failed {
	color: #FF0000;
}

.success {
	color: #00A000;
}

pre {
	display: inline;
}